In [2]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path_to_folder = 'gdrive/MyDrive/MathWorks/'
employment_path = path_to_folder + 'employment_data/'

Mounted at /content/gdrive

In [3]:
employment_data = [pd.read_csv(employment_path + 'washington.csv'), 
                   pd.read_csv(employment_path + 'pennsylvania.csv'),
                   pd.read_csv(employment_path + 'nebraska.csv'),
                   pd.read_csv(employment_path + 'england.csv'),
                   pd.read_csv(employment_path + 'wales.csv')]

In [20]:
sum = [0 for i in range(10)]
data = [[0 for j in range(10)] for i in range(5)]
for city in range(len(employment_data)):
  for value in range(len(employment_data[city]['2021'])):
    sum[value] += employment_data[city]['2021'][value]
    data[city][value] = employment_data[city]['2021'][value]
percent_data = [[0 for j in range(10)] for i in range(5)]
for city in range(len(data)):
  for i in range(len(data[city])):
    percent_data[city][i] = data[city][i]/sum[i]
percent_dict = {
    'occupation': employment_data[0]['Unnamed: 0'],
    'washington': percent_data[0],
    'pennsylvania': percent_data[1],
    'nebraska': percent_data[2],
    'england': percent_data[3],
    'wales': percent_data[4]
}
df = pd.DataFrame(percent_dict)
df

                             occupation  washington  ...   england     wales
0         Mining, logging, construction    0.364192  ...  0.485944  0.013624
1                         Manufacturing    0.456179  ...  0.330810  0.018286
2  Trade, transportation, and utilities    0.521235  ...  0.228961  0.002194
3                           Information    0.608528  ...  0.320112  0.017512
4                  Financial activities    0.505374  ...  0.147643  0.017567
5    Professional and business services    0.647331  ...  0.110870  0.013192
6         Education and health services    0.577221  ...  0.061725  0.025052
7               Leisure and hospitality    0.478589  ...  0.250810  0.034185
8                        Other services    0.368735  ...  0.454670  0.014924
9                            Government    0.614338  ...  0.078940  0.028830

[10 rows x 6 columns]

In [18]:
weighted_remote_data = {
    'Mining, logging, construction': 0.19,
    'Manufacturing': 0.01,
    'Trade, transportation, and utilities': 0.03,
    'Information': 0.72,
    'Financial activities': 0.76,
    'Professional and business services': 0.8,
    'Education and health services': 0.83,
    'Leisure and hospitality': 0.71,
    'Other services': 0.33,
    'Government': 0.35
}

In [19]:
demographics_path = path_to_folder + 'demographics_data/'
for location in ['washington', 'wales', 'pennsylvania', 'nebraska', 'england']:
  max = sorted(zip(df['occupation'], df[location]), reverse=True)[:3]
  max = [i[0] for i in max]

  demographics = pd.read_csv(demographics_path + location + '.csv')
  l = list(demographics[demographics.columns[1]][5:10])
  l = [float(i[:-1])/100 for i in l]
  sum = 0
  for n in range(len(l)):
    sum += (n+1)*l[n]

  print('{}: {}, {}({}), {}({}), {}({})'.format(location, sum, max[0], weighted_remote_data[max[0]], max[1], weighted_remote_data[max[1]], max[2], weighted_remote_data[max[2]]))

washington: 3.2800000000000002, Trade, transportation, and utilities(0.03), Professional and business services(0.8), Other services(0.33)
wales: 2.4274999999999998, Trade, transportation, and utilities(0.03), Professional and business services(0.8), Other services(0.33)
pennsylvania: 2.769, Trade, transportation, and utilities(0.03), Professional and business services(0.8), Other services(0.33)
nebraska: 3.1260000000000003, Trade, transportation, and utilities(0.03), Professional and business services(0.8), Other services(0.33)
england: 2.63, Trade, transportation, and utilities(0.03), Professional and business services(0.8), Other services(0.33)

In [11]:
employment_data[0]

                             Unnamed: 0    2000  ...    2020    2021
0         Mining, logging, construction  101700  ...  129900  109600
1                         Manufacturing  212800  ...  168400  142200
2  Trade, transportation, and utilities  325600  ...  390300  332600
3                           Information   79500  ...  133700  139000
4                  Financial activities  101800  ...  100400   87600
5    Professional and business services  220500  ...  295700  277500
6         Education and health services  183700  ...  272100  223500
7               Leisure and hospitality  145800  ...  150600  133000
8                        Other services   57800  ...   71100   59300
9                            Government  236000  ...  266000  206700

[10 rows x 8 columns]

In [21]:
pd.read_csv(employment_path + 'washington_normalized.csv')

   Unnamed: 0                          Job Activity  ...      2020      2021
0           0         Mining, logging, construction  ...  0.065666  0.064056
1           1                         Manufacturing  ...  0.085128  0.083109
2           2  Trade, transportation, and utilities  ...  0.197301  0.194389
3           3                           Information  ...  0.067587  0.081239
4           4                  Financial activities  ...  0.050753  0.051198
5           5    Professional and business services  ...  0.149479  0.162186
6           6         Education and health services  ...  0.137549  0.130625
7           7               Leisure and hospitality  ...  0.076130  0.077732
8           8                        Other services  ...  0.035942  0.034658
9           9                            Government  ...  0.134466  0.120807

[10 rows x 8 columns]